@import "_font-hlp"

@include declare-font-face('fine', 'Fine', 'regular')
@include declare-font-face('khmer', 'KhmerUI', 'regular')
@include declare-font-face('khmerB', 'KhmerUIb', 'regular')

$azul: #1a1d2d
$dorado: #d5a871
$gris: #333333

*
  font-family: khmer
  font-size: 14px

.centro_450
  max-width: 450px
  width: 100%
  margin: 0 auto

.mapa
  width:  100%
  height: 100vh

.vertical-height
  height: 100%

.centro_880
  max-width: 880px
  margin: 0 auto

.navegador_porta
  background-color: $gris
  border-bottom: #b9a56a
  a
    color: white
    font-size: 18px
    font-family: fine

.icono_ameni
  width: 45px
  margin: 0 auto

#map
  width: 100%
  height: 450px

.linea_dorada
  background: linear-gradient(to right, rgba(236,218,168,1) 0%,rgba(243,243,242,0.43) 37%,rgba(243,243,242,0.43) 63%,rgba(243,242,240,0.43) 64%,rgba(236,218,168,1) 100%)
  width: 100%
  height: 2px

.pestana
  width: 330px
  margin: 0 auto
  background-image: url('../img/medallon.png')
  background-position: top center
  background-size: contain
  height: 54px
  background-repeat: no-repeat
  p
    font-family: fine
    font-size: 18px
    padding-top: 5px
    color: white

.logoPortaFoo
  width: 10px


.no-display
  display: none

.si-display
  display: none

.wrap_amenidades
  top: 45%
  color: white
  padding: 0px 20px
  position: absolute
  h2
    font-size: 18px
    color: white
  p
    font-size: 14px

.fondo_amenidades
  -webkit-clip-path: polygon(0 0, 80% 0%, 80% 100%, 0 76%)
  clip-path: polygon(0 0, 80% 0%, 80% 100%, 0 76%)
  background-color: #969696

.mobil_vertical
  height: 70vh

.row
  margin-left: 0px
  margin-right: 0px

.margen_izq_auto
  margin-left: auto

.fondo_marmol
  background-image: url('../img/marmol.jpg')
  background-position: center


.fondo_inicio
  background-image: url('../img/fondo_inicio.png')
  background-position: center

.wrap_detalle
  background-color: $azul
  padding: 20px 50px
  h2
    font-family: Raleway
    font-weight: 600
    color: $dorado
  li
    color: white
    font-family: Raleway
    font-weight: 600
    list-style-type: none

.centro_1300
  max-width: 1300px
  width: 90%
  margin: 0 auto

.centro_850
  max-width: 850px
  width: 90%
  margin: 0 auto

.centro_300
  max-width: 300px
  width: 100%

.centro_320
  max-width: 320px
  width: 100%
  margin: 0 auto

.centro_130
  max-width: 99px
  width: 100%
  margin: 0 auto

.centro_250
  max-width: 250px
  width: 100%
  margin: 0 auto
  position: relative
.centro_218
  max-width: 218px
  width: 100%
  margin: 0 auto
  position: relative

.servicios_texto
  h3
    color: $dorado
    font-size:  18px
    font-family:  Raleway
    font-weight: 900
    letter-spacing: 4px

.parrafo
  font-family:  scala
  font-size: 14px

.fondo_azul
  background-color: $azul

.fondo_blanco
  background-color: white

.opciones_casas
  p
    font-size: 15px
    font-weight: 900
    color: white
    margin-bottom: 0
    span
      font-size: 12px
      color: white
      font-weight: 400


.wrap_titulo_casa
  font-size: 21px
  background-color: white
  font-weight: 900
  letter-spacing: 4px
  color: $azul
  span
    font-size: 21px
    color: $dorado
    font-weight: 900

.margen_izq
  margin-left: -20px

.imagen_collage
  max-width: 560px
  width: 90%
  position: absolute
  z-index: 2

.logo_blanco
  width: 150px
  position: absolute
  right: 6%
  top: 15%

.alineado_der
  text-align: right

.alineado_izq
  text-align: left

.alineado_centro
  text-align: center

.relativo
  position: relative

.wrap_puerta_1
  position: absolute
  right: 0
  top: 15%

.fondo_puerta_1
  background-color: $azul
  width: 200px
  margin-right: 0
  margin-left: auto
  h2
    color: $dorado
    font-size: 21px
    font-family: Raleway
    font-weight: 900
    letter-spacing: 6px


.parrafo_servicio
  border-left: 5px solid #d5a871
  padding-left: 8px

.wrap_porta
  max-width: 550px
  margin: 0 auto
  h2
    display: inline-block
    font-weight: 900
    font-size: 30px
    color: #333333

.prisma_contacto
  width: 21px
  vertical-align: sub
  display: inline-block

.fondo_familia
  background-image: url('../img/puerta_norte_familia_1.jpg')
  background-position: center
  background-size: cover
  

.texto_inicio_ver
  background-color: $azul
  position: absolute
  right: 0
  bottom: 0
  a
    color: $dorado
    letter-spacing: 6px
    font-family: Raleway
    font-weight: 900
    line-height: 20px
    span
      color: white
      letter-spacing: 0px
      font-family: Raleway
      font-weight: 100

.direccion
  color: white
  font-family: scala
  font-size: 14px
  p
    font-family: scala
    margin-bottom: 0px

.alineado_derecha
  text-align: right

.formualrio
  button
    background-color: $dorado
    color: white
    border: none

.form-control
  border: 1px solid #d2d3d5
  background-color: #d2d3d5
  margin-bottom: 10px
  .btn_submit_mini
    background: $dorado
    color: white

.texto_casa
  border-left: 3px solid $dorado
  p
    font-family: scala
    color: #1a1d2d
    font-size: 16px
    margin-bottom: 0
    display: inline-block
  img
    display: inline-block

.m-ts-280
  margin-top: 280px

.wrap_puerta_6
  justify-content: flex-end
  display: flex
  margin-left: auto
  h2
    padding: 5px 20px
    background-color: white
    font-size: 30px
    font-family: Raleway
    font-weight: 900
    letter-spacing: 9px
    color: $azul

.mas_puerta
  width: 20px

.wrap_puerta_5
  display: flex
  justify-content: flex-end

.btn_submit_porta
  background: #d2d3d5
  border: 0px
  padding: 6px 30px
  color: #333333

.kokoro
  width: 250px
  display: inline-block
  padding: 10px
  position: relative

.sticky
  position: fixed
  top: 0
  width: 100%
  z-index: 10

.btn_menu
  width: 50px
  height: 39px
  position: fixed
  background: white
  top: 0
  left: 0
  z-index: 15
  transition: all 0.2s
  text-align: center
  display: inline-block
  img
    cursor: pointer
    width: 90%
    margin: 0 auto

.logo_menu
  width: 100px

.abierto
  left: 0px !important

.abierto_btn
  left: 200px

.menu
  background-color: #333
  position: fixed
  width: 200px
  height: 100vh
  left: -305px
  z-index: 10
  top: 0px
  transition: all 0.2s
  .links_menu
    padding-top: 20px
    padding-bottom: 20px
    padding-left: 20px
    a
      color: $dorado
      font-family: Raleway
      font-weight: 600
      letter-spacing: 2px
      font-size: 14px

.wrap_azul
  background-color: $azul
  h1
    font-size: 21px
    letter-spacing: 6px
    color: $dorado
    font-family: Raleway
    font-weight: 900
    span
      color: white
      font-family: Raleway
      font-weight: 100
.m-ts-50
  margin-top: 50px
.m-ts-30
  margin-top: 30px
.escritorio
  display: none
.mobil
  display: block

@media (min-width:641px)
  .si-display
    display: block
  .escritorio
    display: block
  .mobil
    display: none
  .mobil_vertical
    height: auto
  .vertical-height
    height: 100vh
  .fondo_puerta_2 h2 
    font-size: 50px
  .wrap_puerta_6
    h2
      font-size: 50px
  .m-ts-50
    margin-top: 0px
  .m-ts-30
    margin-top: 0px
  .m-ts-280
    margin-top: 0px
  .opciones_casas
    p
      font-size: 18px